SECRET_KEY=remplace-par-une-cle-generee
DEBUG=False
ALLOWED_HOSTS=exemple.com,www.exemple.com
CSRF_TRUSTED_ORIGINS=https://exemple.com,https://www.exemple.com
ADMIN_URL=gestion-dlo3-x7k2/
DB_NAME=dlo3_db
DB_USER=dlo3_user
DB_PASSWORD=mot-de-passe-fort
DB_HOST=127.0.0.1
DB_PORT=3306
